.eat-better
  background bg-green


  .wrapper
    position relative
    //height 900px
    display flex
  .phone
    background url(../images/phone.png) no-repeat
    width 404px
    height 753px
    position absolute
    right 0
    bottom 0
    z-index 2
  .eat-better-article
    padding-top 120px
    width 630px
    color white-text
    .app-icon
      padding-bottom 65px
    .article-topic
      font-size: 64px;
      font-weight 300
      padding-bottom 30px
    .text
      color white-text
    .get-app
      padding 60px 0 140px
    .link
      margin-right 30px
      &:last-of-type
        margin 0

@media screen and (min-width: 1200px) and (max-width: 1999px)

  .banana
    background url(../images/banana.png) no-repeat
    width 234px
    height 192px
    position absolute
    left 400px
    top 0
  .strawberry
    background url(../images/strawberry.png) no-repeat
    width 155px
    height 185px
    position absolute
    left 550px
    bottom -50px
  .berry
    background url(../images/berry.png) no-repeat
    width 121px
    height 135px
    position absolute
    right -60px
    bottom 160px



@media screen and (min-width: 2000px)
  .phone
    background url(../images/phone.png) no-repeat
    width 404px
    height 753px
    position absolute
    right 0
    bottom 0
    z-index 2

  .apple
    background url(../images/apple.png) no-repeat
    width 176px
    height 426px
    position absolute
    left 0
    top 100px

  .banana
    background url(../images/banana.png) no-repeat
    width 234px
    height 192px
    position absolute
    left 400px
    top 0
  .strawberry
    background url(../images/strawberry.png) no-repeat
    width 155px
    height 185px
    position absolute
    left 550px
    bottom -50px
  .berry
    background url(../images/berry.png) no-repeat
    width 121px
    height 135px
    position absolute
    right -60px
    bottom 160px
  .tomato
    background url(../images/tomato.png) no-repeat
    width 250px
    height 253px
    position absolute
    right -380px
    bottom 420px


