.features
  padding-top 90px
  .wrapper
    display flex
    align-items center
    justify-content space-between
  .phone2
    background url(../images/phone-2.png) no-repeat
    width 702px
    height 784px
  .features-text
    width 462px
