.footer
  background bg-green
  .wrapper
    //display flex
  .footer-article
    max-width 850px
    margin 0 auto
    padding 115px 0
    text-align center
    color white-text
    .text, .titles
      color white-text
   .get-app
     display block
     width 247px
     height 42px
     padding 14px 85px
     border-radius 30px
     color green-text
     margin 30px auto 0
     background bg-white
     cursor pointer
     text-transform capitalize
     font-weight 700