.header
  background bg-green
  .wrapper
    padding-top 30px
    padding-bottom 40px
    display flex
    justify-content space-between
    align-items center

.header-menu
  display flex
  .header-menu-item
    padding 15px 30px
    text-transform capitalize
    color white-text
    border 1px solid transparent
    border-radius 30px
    &:hover
      border-color bg-white
      background bg-white
      color green-text
      font-weight 700
