.manage
  background bg-white
  .wrapper
    display flex
    justify-content space-between
    align-items center
  .manage-text
    display block
    max-width 462px
  .manage-img
    background url(../images/manage-img.png) no-repeat
    width 613px
    height 502px
    padding-top 150px
    padding-bottom 140px
