.diet
  background bg-grey
  padding-top 115px

  .wrapper
    position relative
    //display flex
    //flex-flow column

  .diet-title
    width 850px
    margin 0 auto
    text-align center
    padding-bottom 110px

  .phone3
    background url(../images/phone-3.png) no-repeat
    width 874px
    height 545px
    margin 0 auto
    position relative
    z-index 3

  .pepper
    background url(../images/pepper.png) no-repeat
    width 188px
    height 193px
    position absolute
    top 0
    left -220px
  .apple2
    background url(../images/apple2.png) no-repeat
    width 224px
    height 305px
    position absolute
    bottom 0
    left 40px

  .banana2
    background url(../images/banana2.png) no-repeat
    width 277px
    height 361px
    position absolute
    bottom 0
    right 40px

  .strawberry2
    background url(../images/strawberry2.png) no-repeat
    width 145px
    height 138px
    position absolute
    top 0
    right -175px

